/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  font-family: "poppins", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  border: none;
  text-transform: capitalize;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

:root {
  --blue-color: #29d9d5;
  --black-color: #111;
  --white-color: #fff;
  --light-color: #aaa;
  --bg-color: #222;
  --black-bg: rgba(17, 17, 17, 0.7);
  --border: 0.2rem solid #29d9d5;
}

/* @mixin grid($val) {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap: 1.5rem;
} */

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: var(--blue-color);
  border: var(--border);
  border-radius: 5rem;
  cursor: pointer;
  background: none;
}
.btn:hover {
  background-color: var(--blue-color);
  color: var(--black-color);
}

section {
  padding: 3rem 9%;
}

.heading {
  text-align: center;
  margin-bottom: 2rem;
}
.heading span {
  color: var(--blue-color);
  font-size: 2rem;
}
.heading h1 {
  color: var(--white-color);
  font-size: 4rem;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;

  &::-webkit-scrollbar {
    width: 1rem;
  }
  &::-webkit-scrollbar-track {
    background: var(--black-color);
  }
  &::-webkit-scrollbar-thumb {
    background: var(--blue-color);
  }
}

body {
  background: var(--black-color);
  overflow-x: hidden;
}

/* --------------------------------------------------Preload------------------------------------------ */

.preload {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--blue-color);
  z-index: 100;
  display: -ms-grid;
  display: grid;
  place-content: center;
  justify-items: center;
  -webkit-transition: 250ms ease;
  -o-transition: 250ms ease;
  transition: 250ms ease;
}

.preload > * {
  -webkit-transition: 250ms ease;
  -o-transition: 250ms ease;
  transition: 250ms ease;
}

.preload.loaded > * {
  opacity: 0;
}

.preload.loaded {
  -webkit-transition-delay: 250ms;
  -o-transition-delay: 250ms;
  transition-delay: 250ms;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}

.circle {
  width: 112px;
  height: 112px;
  border-radius: 50%;
  border: 3px solid white;
  border-block-start-color: hsla(0, 3%, 7%, 1);
  -webkit-margin-after: 45px;
  margin-block-end: 45px;
  -webkit-animation: rotate360 1s linear infinite;
  animation: rotate360 1s linear infinite;
}

@-webkit-keyframes rotate360 {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

@keyframes rotate360 {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

.preload .text {
  background-image: var(--loading-text-gradient);
  background-size: 500%;
  font-size: calc(2rem + 3vw);
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 3px;
  -webkit-padding-start: 16px;
  padding-inline-start: 16px;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 0.5px hsla(40, 12%, 5%, 1);
  -webkit-animation: loadingText linear 2s infinite;
  animation: loadingText linear 2s infinite;
}

@-webkit-keyframes loadingText {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

@keyframes loadingText {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

/* ----------------------------------------------------------Header------------------------------------- */

a-logo {
  padding-right: 17rem;
}

.logo {
  width: 75%;
}

#menu-btn {
  font-size: 2.5rem;
  color: var(--white-color);
  cursor: pointer;
  display: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--bg-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 10;
  padding: 1.5rem 9%;
}

.header .btn {
  white-space: nowrap;
}

.navbar a {
  display: inline-block;
  font-size: 1.7rem;
  color: var(--light-color);
  margin: 0 1rem;
}
.navbar a:hover {
  color: var(--blue-color);
}
.navbar {
  width: 100%;
  margin-left: 35rem;
}

/* ----------------------------------------------------------Home------------------------------------- */

.slider {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.slider .list .item {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.slider .list .item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.slider .list .item .content {
  position: absolute;
  top: 20%;
  width: 1140px;
  max-width: 80%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 30%;
  color: #fff;
  text-shadow: 0 5px 10px #0004;
}
.item .content .author {
  font-weight: bold;
  letter-spacing: 10px;
  font-size: 6rem;
}
.item .content .title {
  font-weight: bold;
  font-size: 4em;
  line-height: 1.3em;
}

.item .content .des {
  font-size: 2em;
  line-height: 1.3em;
}
.item .content .topic {
  color: var(--blue-color);
  font-size: 7rem;
  font-weight: bold;
  white-space: nowrap;
}
.item .content .buttons {
  margin-top: 20px;
}

/* thumbnail */

.thumbnail {
  bottom: 50px;
  left: 50%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  z-index: 5;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.thumbnail-des {
  font-size: 1.2rem;
  line-height: 1.3em;
  color: var(--white-color);
  background-color: var(--bg-color);
  border-radius: 1rem;
}

.thumbnail .item {
  width: 150px;
  height: 220px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: relative;
}
.thumbnail .item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 20px;
}
.thumbnail .item .content {
  position: absolute;
  bottom: 10px;
  right: 10px;
  left: 10px;
}
.thumbnail .item .content .title {
  font-weight: bold;
  font-size: 2.2rem;
  color: var(--blue-color);
  white-space: nowrap;
}

/* arrows */
.arrows {
  position: absolute;
  top: 80%;
  right: 52%;
  width: 300px;
  max-width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.arrows button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #eee4;
  border: none;
  font-family: monospace;
  color: #fff;
  font-size: large;
  font-weight: bold;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  z-index: 6;
}

.arrows button:hover {
  background-color: #eee;
  color: #555;
}

.slider .list .item:nth-child(1) {
  z-index: 1;
}

.slider .list .item:nth-child(1) .author,
.slider .list .item:nth-child(1) .title,
.slider .list .item:nth-child(1) .topic,
.slider .list .item:nth-child(1) .des,
.slider .list .item:nth-child(1) .buttons {
  -webkit-transform: translateY(50px);
  -ms-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-filter: blur(20px);
  filter: blur(20px);
  opacity: 0;
  -webkit-animation: showContent 0.5s 1s linear 1 forwards;
  animation: showContent 0.5s 1s linear 1 forwards;
}
@-webkit-keyframes showContent {
  to {
    opacity: 1;
    -webkit-filter: blur(0);
    filter: blur(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes showContent {
  to {
    opacity: 1;
    -webkit-filter: blur(0);
    filter: blur(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.slider .list .item:nth-child(1) .content .title {
  -webkit-animation-delay: 1.2s !important;
  animation-delay: 1.2s !important;
}
.slider .list .item:nth-child(1) .content .topic {
  -webkit-animation-delay: 1.4s !important;
  animation-delay: 1.4s !important;
}
.slider .list .item:nth-child(1) .content .des {
  -webkit-animation-delay: 1.6s !important;
  animation-delay: 1.6s !important;
}
.slider .list .item:nth-child(1) .content .buttons {
  -webkit-animation-delay: 1.8s !important;
  animation-delay: 1.8s !important;
}
/* create animation when next click */
.slider.next .list .item:nth-child(1) img {
  width: 150px;
  height: 220px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  border-radius: 30px;
  -webkit-animation: showImage 0.5s linear 1 forwards;
  animation: showImage 0.5s linear 1 forwards;
}

@-webkit-keyframes showImage {
  to {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

@keyframes showImage {
  to {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

.slider.next .thumbnail .item:nth-last-child(1) {
  overflow: hidden;
  -webkit-animation: showThumbnail 0.5s linear 1 forwards;
  animation: showThumbnail 0.5s linear 1 forwards;
}
.slider.prev .list .item img {
  z-index: 100;
}
@-webkit-keyframes showThumbnail {
  from {
    width: 0;
    opacity: 0;
  }
}
@keyframes showThumbnail {
  from {
    width: 0;
    opacity: 0;
  }
}
.slider.next .thumbnail {
  -webkit-animation: effectNext 0.5s linear 1 forwards;
  animation: effectNext 0.5s linear 1 forwards;
}

@-webkit-keyframes effectNext {
  from {
    -webkit-transform: translateX(150px);
    transform: translateX(150px);
  }
}

@keyframes effectNext {
  from {
    -webkit-transform: translateX(150px);
    transform: translateX(150px);
  }
}

/* running time */

.slider .time {
  position: absolute;
  z-index: 1000;
  width: 0%;
  height: 3px;
  background-color: #f1683a;
  left: 0;
  top: 0;
}

.slider.next .time,
.slider.prev .time {
  -webkit-animation: runningTime 3s linear 1 forwards;
  animation: runningTime 3s linear 1 forwards;
}
@-webkit-keyframes runningTime {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
@keyframes runningTime {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

/* prev click */

.slider.prev .list .item:nth-child(2) {
  z-index: 2;
}

.slider.prev .list .item:nth-child(2) img {
  -webkit-animation: outFrame 0.5s linear 1 forwards;
  animation: outFrame 0.5s linear 1 forwards;
  position: absolute;
  bottom: 0;
  left: 0;
}
@-webkit-keyframes outFrame {
  to {
    width: 150px;
    height: 220px;
    bottom: 50px;
    left: 50%;
    border-radius: 20px;
  }
}
@keyframes outFrame {
  to {
    width: 150px;
    height: 220px;
    bottom: 50px;
    left: 50%;
    border-radius: 20px;
  }
}

.slider.prev .thumbnail .item:nth-child(1) {
  overflow: hidden;
  opacity: 0;
  -webkit-animation: showThumbnail 0.5s linear 1 forwards;
  animation: showThumbnail 0.5s linear 1 forwards;
}
.slider.next .arrows button,
.slider.prev .arrows button {
  pointer-events: none;
}
.slider.prev .list .item:nth-child(2) .content .author,
.slider.prev .list .item:nth-child(2) .content .title,
.slider.prev .list .item:nth-child(2) .content .topic,
.slider.prev .list .item:nth-child(2) .content .des,
.slider.prev .list .item:nth-child(2) .content .buttons {
  -webkit-animation: contentOut 1.5s linear 1 forwards !important;
  animation: contentOut 1.5s linear 1 forwards !important;
}

@-webkit-keyframes contentOut {
  to {
    -webkit-transform: translateY(-150px);
    transform: translateY(-150px);
    -webkit-filter: blur(20px);
    filter: blur(20px);
    opacity: 0;
  }
}

@keyframes contentOut {
  to {
    -webkit-transform: translateY(-150px);
    transform: translateY(-150px);
    -webkit-filter: blur(20px);
    filter: blur(20px);
    opacity: 0;
  }
}
@media screen and (max-width: 678px) {
  .slider .list .item .content {
    padding-right: 0;
  }
  .slider .list .item .content .title {
    font-size: 30px;
  }
}

/* ----------------------------------------------------------Book Now------------------------------------- */
.book-form {
  margin-top: 15rem;
  width: 80%;
  margin: 1rem auto;
  background-color: var(--bg-color);
  border-radius: 1rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(17, 17, 17, 0.3);
  box-shadow: 0 0.5rem 1rem rgba(17, 17, 17, 0.3);
  padding: 2rem 3rem;
}
.book-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /* width: 110%; */
  gap: 1.5rem;
}

.inputBox {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 20rem;
  flex: 1 1 20rem;
}
.inputBox .btn {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 20rem;
  flex: 1 1 20rem;
}
.inputBox span {
  font-size: 1.4rem;
  color: var(--light-color);
}
.inputBox input {
  padding: 1.2rem 1.4rem;
  width: 100%;
  border-radius: 5rem;
  border: var(--border);
  font-size: 1.6rem;
  color: var(--light-color);
  text-transform: none;
  background: none;
  margin-top: 1rem;
}

/* ----------------------------------------------------------About us------------------------------------- */

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 5rem;
}

.content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
  margin-bottom: 5rem;
}

.content span {
  color: var(--blue-color);
  font-size: 2rem;
}

.content h3 {
  color: var(--white-color);
  font-size: 4rem;
  margin-top: 0.5rem;
}

.content p {
  padding: 1rem;
  font-size: 1.4rem;
  color: var(--light-color);
  line-height: 2;
}

.video-container {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
}
.about video {
  width: 100%;
  border-radius: 1rem;
}

.about .controls {
  text-align: center;
  padding: 2rem 0;
}
.about .controls span {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background: var(--white-color);
  cursor: pointer;
  margin: 0.7rem;
}
.about .controls span:hover {
  background: var(--blue-color);
}

/* ----------------------------------------------------------Packages------------------------------------- */

.packages .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 15px 1fr 15px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr 15px 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

.packages .box-container .box {
  border-radius: 1rem;
  background-color: var(--bg-color);
  overflow: hidden;
}

.packages .box-container .box:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.packages .box-container .box .image {
  height: 20rem;
  overflow: hidden;
  width: 100%;
}

.packages .box-container .box .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.box .content {
  padding: 2rem;
  text-align: center;
}

.box .content h3 {
  color: var(--white-color);
  font-size: 2rem;
  margin-top: 0.5rem;
}
.box .content p {
  padding: 1rem;
  font-size: 1.4rem;
  color: var(--light-color);
  line-height: 2;
}
.box .content a {
  font-size: 1.7rem;
  color: var(--blue-color);
}
.box .content a i {
  padding-right: 0.5rem;
}
.box .content a:hover i {
  padding-left: 1rem;
}

.packages .box-container > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.packages .box-container > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.packages .box-container > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.packages .box-container > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.packages .box-container > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.packages .box-container > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

/* ----------------------------------------------------------Services------------------------------------- */

.services .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 15px 1fr 15px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr 15px 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

.services .box-container .box {
  background-color: var(--bg-color);
  border-radius: 1rem;
  padding: 3rem;
  text-align: center;
  border: 0.2rem solid var(--black-color);
}
.services .box-container .box:hover {
  border: var(--border);
}

.services .box-container .box i {
  color: var(--blue-color);
  font-size: 5rem;
  margin-bottom: 2rem;
}
.services .box-container .box h3 {
  color: var(--white-color);
  font-size: 2rem;
}
.services .box-container .box p {
  padding: 1rem;
  font-size: 1.4rem;
  color: var(--light-color);
  line-height: 2;
}

.services .box-container > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.services .box-container > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.services .box-container > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.services .box-container > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.services .box-container > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.services .box-container > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

/* ----------------------------------------------------------Gallery------------------------------------- */

.gallery .box-container {
  -webkit-columns: 3 25rem;
  -moz-columns: 3 25rem;
  columns: 3 25rem;
  -webkit-column-gap: 1.5rem;
  -moz-column-gap: 1.5rem;
  column-gap: 1.5rem;
}
.gallery .box-container .box {
  margin-bottom: 1rem;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  break-inside: avoid;
}
.gallery .box img {
  width: 100%;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
.gallery .box span {
  font-size: 1.4rem;
  color: var(--light-color);
}
.gallery .box h3 {
  margin-top: 0.5rem;
  color: var(--white-color);
  font-size: 2rem;
}

/* ----------------------------------------------------------Banner------------------------------------- */

.banner {
  background: url(images/home1.jpg) no-repeat,
    -webkit-gradient(linear, left top, left bottom, from(var(--black-bg)), to(var(--black-bg)));
  background: url(images/home1.jpg) no-repeat,
    -o-linear-gradient(var(--black-bg), var(--black-bg));
  background: url(images/home1.jpg) no-repeat,
    linear-gradient(var(--black-bg), var(--black-bg));
  background-size: cover;
  background-position: center;
  padding: 3rem 0;
  background-attachment: fixed;
  text-align: center;
}

.banner .content {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}

.banner .content span {
  margin-top: 0.5rem;
  color: var(--white-color);
  font-size: 2rem;
}

.banner .content h3 {
  color: var(--white-color);
  font-size: 4rem;
  margin-top: 1rem;
}

.banner .content p {
  padding: 1rem;
  font-size: 1.4rem;
  color: var(--light-color);
  line-height: 2;
  text-align: center;
}

/* ----------------------------------------------------------Footer------------------------------------- */

.footer {
  margin-top: 5rem;
}

.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [4];
  grid-template-columns: repeat(4, 1fr);
}

.footer .box-container .box {
  padding: 1rem 0 !important;
}

.footer .box .logo {
  padding-bottom: 1rem;
}

.footer .box h3 {
  color: var(--white-color);
  font-size: 2.2rem;
}

.footer .box p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: var(--light-color);
  line-height: 2;
}

.socials {
  padding-top: 1rem;
}

.socials a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4rem;
  font-size: 2rem;
  border-radius: 50%;
  border: var(--border);
  color: var(--blue-color);
  margin-right: 0.5rem;
  text-align: center;
}
.socials a:hover {
  background-color: var(--blue-color);
  color: var(--black-color);
}

.links {
  font-size: 1.8rem;
  color: var(--light-color);
  padding: 1rem 0;
  display: block;
}
.links:hover {
  color: var(--blue-color);
}

.links i {
  padding-right: 2rem;
}

/* .contact-info i {
  padding-right: 0.5rem;
  color: var(--blue-color);
} */

form .newsletter {
  width: 100%;
  border-radius: 5rem;
  border: var(--border);
  background: none;
  text-transform: none;
  font-size: 1.5rem;
  color: var(--light-color);
  margin-top: 1rem;
  padding: 1.2rem 1.4rem;
  margin-bottom: 1rem;
}

.contact-info p i {
  font-size: 2rem;
  color: var(--blue-color);
  margin-right: 1rem;
}

.hr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.footer-hr {
  width: 80%;
  height: 1px;
  opacity: 1.25;
  color: var(--blue-color);
  border: 1px solid;
  margin: 5rem 0;
}

.copywrite {
  background: var(--black-bg);
  text-align: center;
  font-size: 2rem;
  padding: 3rem 2rem;
  color: var(--light-color);
  /* margin-top: -30rem; */
}
.copywrite span {
  color: var(--blue-color);
}

/* <!--------------------- Back to top btn ---------------> */

#backToTop {
  position: fixed;
  bottom: 20px;
  right: 30px;
  border: none;
  padding: 17px 20px;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  color: var(--black-color);
  z-index: 99999999999999999;
  display: none;
}
#backToTop:hover {
  background-color: var(--blue-color);
}

#instagrmBar {
  background: transparent;
  position: fixed;
  bottom: 89px;
  right: 27px;
  border: none;
  padding: 10px 10px;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  z-index: 99999999999999999;
  /* display: none; */
}
#instagrmBar i {
  font-size: 40px;
  color: #64cd8a;
}

/* ----------------------------------------------------------Breakpoints------------------------------------- */

/* large screen */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 1.5rem 2rem;
  }

  section {
    padding: 3rem 2rem;
  }
}

/* medium screen */

@media (max-width: 768px) {
  .header .navbar {
    position: absolute;
    top: 99%;
    right: 0;
    left: 0;
    background: var(--bg-color);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar a {
    margin: 2rem;
    font-size: 2rem;
    display: block;
  }

  .home {
    margin-top: 10rem;
  }
  .home .span {
    font-size: 8vw;
  }
  .home h3 {
    font-size: 9vw;
  }

  #menu-btn {
    display: inline-block;
  }

  .logo {
    -webkit-transform: translateX(28rem);
    -ms-transform: translateX(28rem);
    transform: translateX(28rem);
  }

  .book-form .btn {
    margin: 0 auto !important;
  }

  #background-video {
    width: 85%;
    left: 4rem;
  }

  .packages .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 15px 1fr;
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 1fr;
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }

  .packages .box-container > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .packages .box-container > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  .services .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 15px 1fr;
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 1fr;
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }

  .services .box-container > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .services .box-container > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  .footer .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr) [3];
    grid-template-columns: repeat(3, 1fr);
  }
}

/* small screen */

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .navbar.active {
    transform: translateX(-35rem);
  }

  .logo {
    -webkit-transform: translateX(12rem);
    -ms-transform: translateX(12rem);
    transform: translateX(12rem);
    width: 38%;
  }

  .home {
    margin-top: 10rem;
    width: 100%;
  }
  .home .span {
    font-size: 8vw;
  }
  .home h3 {
    font-size: 9vw;
  }
  .home p {
    max-width: 37rem;
  }

  .book-form .btn {
    margin: 0 auto !important;
  }

  #background-video {
    width: 97%;
    left: 0rem;
  }

  .packages .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: 1fr;
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }

  .packages .box-container > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .services .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: 1fr;
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }

  .services .box-container > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .item .content .author {
    letter-spacing: 5px;
    font-size: 2rem;
  }

  .item .content .des {
    font-size: 1.7rem;
  }
  .item .content .topic {
    font-size: 3.7rem;
    /* line-break: anywhere; */
  }

  .footer .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr) [1];
    grid-template-columns: repeat(1, 1fr);
    /* margin: 2rem 0; */
    /* padding: 0 1rem; */
  }

  #backToTop i {
    font-size: 1.5rem;
    padding: -5rem;
  }
}
